{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
<meta http-equiv="X-UA-Compatible" content="ie=edge" />
<link rel="icon" href="{% static 'img/logo.png'%}" type="image/icon" />
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"/>
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css"/>
<div id="content" class="colM">
        
    <h1>Enter new password</h1>
<p>Please enter your new password twice so we can verify you typed it in correctly.</p>

<form method="post"><input type="hidden" name="csrfmiddlewaretoken" value="08JALGwRyVYU3AaMKPDJdWeTFe37Xm6f98qPtqTA4qW1KhDH6Fz4Yoygxypk8OhU">
<fieldset class="module aligned">
<div class="form-row field-password1">
    
    <label for="id_new_password1">New password:</label>
    <input type="password" name="new_password1" required id="id_new_password1">
</div>
<div class="form-row field-password2">
    
    <label for="id_new_password2">Confirm password:</label>
    <input type="password" name="new_password2" required id="id_new_password2">
</div>
{% for field in form %}
{% for error in field.errors %}
  <p style="color: red">{{ error }}</p>
{% endfor %}
{% endfor %}

<button class="btn btn-lg btn-primary btn-block" type="submit">Update</button> 
</fieldset>
</form>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
</body>
</html>