{% extends 'base.html' %}

{% load static %}
{% block content %}

<title>Facilities</title>
<link rel="stylesheet" href="{% static 'css/Facilities.css' %}" />

<section class="banner_area">
<div class="container">
<div class="banner_inner_content">
<h3>Facilities</h3>
<div aria-label="breadcrumb">
<ol class="breadcrumb">
<li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
<li class="breadcrumb-item active" aria-current="page">Facilities</li>
</ol>
</div>
</div>
</div>
</section>

<section class="ful-row">
<div class="container">
<div class="row">
<div class="col-lg-12 col-md-12 col-sm-12 activitie-intro">
WE PUT A SMILE BACK ON YOUR FACE
</div>
</div>
<div class="row">
<div class="activitie">
<div class="row flat-large flat-default">
<div class="col-xl-3 col-lg-4 col-md-6 col-sm-6">
<div class="activity-item text-center px-4 py-5 mb-4">
<div class="icon mb-3"><i class="fas fa-mug-hot"></i></div>
<h6 class="down-line-center text-uppercase pb-3 mb-3"><a class="text-white" >Food &amp; Resturent</a></h6>
<p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. </p>
</div>
</div>
<div class="col-xl-3 col-lg-4 col-md-6 col-sm-6">
<div class="activity-item text-center px-4 py-5 mb-4 ">
<div class="icon mb-3"><i class="fas fa-compact-disc"></i></div>
<h6 class="down-line-center text-uppercase pb-3 mb-3"><a class="text-white">Event Rooms</a></h6>
<p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. </p>
</div>
</div>
<div class="col-xl-3 col-lg-4 col-md-6 col-sm-6">
<div class="activity-item text-center px-4 py-5 mb-4 ">
<div class="icon mb-3"><i class="fas fa-dumbbell"></i></div>
<h6 class="down-line-center text-uppercase pb-3 mb-3"><a class="text-white">Fitness Lab</a></h6>
<p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. </p>
</div>
</div>
<div class="col-xl-3 col-lg-4 col-md-6 col-sm-6">
<div class="activity-item text-center px-4 py-5 mb-4">
<div class="icon mb-3"><i class="fab fa-envira"></i></div>
<h6 class="down-line-center text-uppercase pb-3 mb-3"><a class="text-white" >Beauty &amp; Health</a></h6>
<p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. </p>
</div>
</div>
<div class="col-xl-3 col-lg-4 col-md-6 col-sm-6">
<div class="activity-item text-center px-4 py-5 mb-4">
<div class="icon mb-3"><i class="fas fa-wifi"></i></div>
<h6 class="down-line-center text-uppercase pb-3 mb-3"><a class="text-white">Wi-fi</a></h6>
<p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. </p>
</div>
</div>
<div class="col-xl-3 col-lg-4 col-md-6 col-sm-6">
<div class="activity-item text-center px-4 py-5 mb-4">
<div class="icon mb-3"><i class="fas fa-swimmer"></i></div>
<h6 class="down-line-center text-uppercase pb-3 mb-3"><a class="text-white" >Swimming</a></h6>
<p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. </p>
</div>
</div>
<div class="col-xl-3 col-lg-4 col-md-6 col-sm-6">
<div class="activity-item text-center px-4 py-5 mb-4 ">
<div class="icon mb-3"><i class="fas fa-volleyball-ball"></i></div>
<h6 class="down-line-center text-uppercase pb-3 mb-3"><a class="text-white" >Sports</a></h6>
<p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. </p>
</div>
</div>
<div class="col-xl-3 col-lg-4 col-md-6 col-sm-6">
<div class="activity-item text-center px-4 py-5 mb-4 ">
<div class="icon mb-3"><i class="fas fa-spa"></i></div>
<h6 class="down-line-center text-uppercase pb-3 mb-3"><a class="text-white" >Luxury Spa</a></h6>
<p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. </p>
</div>
</div>
<div class="col-xl-3 col-lg-4 col-md-6 col-sm-6">
<div class="activity-item text-center px-4 py-5 mb-4 ">
<div class="icon mb-3"><i class="fas fa-snowboarding"></i></div>
<h6 class="down-line-center text-uppercase pb-3 mb-3"><a class="text-white" >boarding</a></h6>
<p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. </p>
</div>
</div>
<div class="col-xl-3 col-lg-4 col-md-6 col-sm-6">
<div class="activity-item text-center px-4 py-5 mb-4 ">
<div class="icon mb-3"><i class="fas fa-glass-cheers"></i></div>
<h6 class="down-line-center text-uppercase pb-3 mb-3"><a class="text-white" >Bar</a></h6>
<p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. </p>
</div>
</div>
<div class="col-xl-3 col-lg-4 col-md-6 col-sm-6">
<div class="activity-item text-center px-4 py-5 mb-4">
<div class="icon mb-3"><i class="fas fa-child"></i></div>
<h6 class="down-line-center text-uppercase pb-3 mb-3"><a class="text-white" >Kids club</a></h6>
<p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. </p>
</div>
</div>
<div class="col-xl-3 col-lg-4 col-md-6 col-sm-6">
<div class="activity-item text-center px-4 py-5 mb-4 ">
<div class="icon mb-3"><i class="fas fa-concierge-bell"></i></div>
<h6 class="down-line-center text-uppercase pb-3 mb-3"><a class="text-white" >Room Service</a></h6>
<p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. </p>
</div>
</div>
</div>
</div>
</div>
</div>
</section>
{%endblock%}