{% extends 'base.html' %}

{% load static %}
{% block content %}

<title>Contact</title>
<link rel="stylesheet" href="{% static 'css/contact.css' %}" />

<section class="banner_area">
<div class="container">
<div class="banner_inner_content">
<h3>Contact Us</h3>
<div aria-label="breadcrumb">
<ol class="breadcrumb">
<li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
<li class="breadcrumb-item active" aria-current="page">Contact</li>
</ol>
</div>
</div>
</div>
</section>
<section class="contact-us">
<div class="page">
<div class="row">
<div class="col-md-7">
<div class="contact_page">
<div class="main-title-area mb-5">
<h2 class="title mb-3 ">Get In Touch</h2>
</div>

<div style=" margin: 20px 15px; margin-right: 50px;">
{% if messages %}
<ul class="messages">
{% for message in messages %}
<div class="alert alert-success" style="
text-align: center;"> {{ message }} </div>
{% endfor %}
</ul>
{% endif %}
</div>

<div class="contact-form">
<form  method="POST" action="{% url 'contact' %}" id="contact-form" class="needs-validation" novalidate >
<div>
<div class="row">
<div class="form-group col-md-6 col-sm-6">
{% csrf_token %} 
{{form.name}}
<div class="invalid-feedback">
Please Enter Your Name..
</div>
</div>
<div class="form-group col-md-6 col-sm-6">
{{form.phone}}
<div class="invalid-feedback">
Please Enter Your Phone No..
</div>
</div>
<div class="form-group col-md-6 col-sm-6">
{{form.email}}
<div class="invalid-feedback">
Please Enter Your Email..
</div>
</div>
<div class="form-group col-md-6 col-sm-6">
{{form.subjects}}
<div class="invalid-feedback">
Please Enter the Subject..
</div>
</div>
<div class="form-group col-md-12">
{{form.messages}}
<div class="invalid-feedback message">
Please Enter Your Message..
</div>
</div>
</div>
<div class="button">
<button class="btn submit-btn" type="submit"><i class="far fa-paper-plane" aria-hidden="true">
</i>Send Your Message</button>
</div>
</div>
</form>
</div>
</div>
</div>
<div class="col-md-5">
<div class="contact-info">
<div class="main-title-area mb-5">
<h2 class="title mb-3 title-info">Contact Info</h2>
</div>
<ul class="info">
<div class="adrress"><h5>our address:</h5></div>
<li><i class="fas fa-map-marker-alt"></i>kirari suleman nagar,New delhi</li>
<div class="adrress"><h5>Email:</h5></div>
<li><i class="fas fa-envelope"></i>info@gmail.com</li>
<div class="adrress"><h5>Phone:</h5></div>
<li><i class="fas fa-phone"></i></bu>+917210643394</li>
<div class="adrress"><h5>Fax:</h5></div>
<li><i class="fas fa-fax"></i>+0477 85X6 552</li>
</ul>
</ul>
</div>
<div class="col-lg-12 "> 
<div class="contact-links">
<a href="https://www.facebook.com/deepak.cool72" target="_blank" class="fb " style="margin:auto;"><i class="fab fa-facebook-f"></i></a>
<a href="https://plus.google.com/u/0/116513823124851985763" target="_blank" class="google"><i class="fab fa-google-plus-g"></i>
<a href="https://www.instagram.com/deepakcooll/" target="_blank" class="insta"><i class="fab fa-instagram"></i></a>
<a href="https://www.linkedin.com/in/deepak-prajapati-aa740a183/" target="_blank" class="linked"><i class="fab fa-linkedin-in"></i></a>
</ul>
</div>
</div>
</div>
</div>
</div>
</div>
</section>
<script src="{% static 'js/contact.js'%}"></script>
{% endblock %}